{% extends "core/base.html" %}
{% load static %}
{% block content %}

    {% include "core/layouts/_submit.html" %}

    <div id="main">
        <h3 class="subtitle">{{ title }}</h3>
        <div style="margin:1%;">
            <h2 style="text-align:center;">Pourquoi ce site ?</h2>
                <p>
                    Le but de ce site est de proposer des vidéos que vous n'auriez peut etre jamais eu l'occasion de
                    voir, notamment dû au concept de <a href="https://fr.wikipedia.org/wiki/Bulle_de_filtres">bulle de
                    filtres</a>.
                </p>
            <h2 style="text-align:center;">Comment ca marche ?</h2>
                <p>
                    1°) Soumettez une vidéo que vous trouvez intéressante (dans le formulaire ci-dessus)
                    <br><br>
                    2°) Le site va selectionner, de maniere aléatoire, une vidéo parmis toutes les vidéos
                    proposées. De plus, vous aurez accès au 5 vidéos les plus interessantes d'apres les visiteurs
                    <br><br>
                    3°) Pour acceder à d'autres vidéos aléatoires, il y a deux choix :
                    <ul>
                        <li>Notez l'interêt et la qualité de la vidéo choisis aléatoirement</li>
                        <li>Soumettre une nouvelle vidéo interessante</li>
                    </ul>
                </p>
        </div>
    </div>

{% endblock content %}