{% extends "core/base.html" %}
{% load static %}
{% block content %}

    {% include "core/layouts/_submit.html" %}
    <div id="main-video">
                <div class="wrapper">
                    <div class="wrapper-left">
                        <h3 class="subtitle">{{ title }}</h3>

                            <iframe src="https://www.youtube.com/embed/uvf0lD5xzH0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                    <div class="wrapper-right">
                        <h3 class="subtitle">ID</h3>
                        <!--
                        <div class="sort-rank">
                        Trier par : Intérêt ▴
                        </div>
                        -->




                        <ul class="ranks">
                            <li class="rank">Vidéo n°1</li>
                            <li class="rank">Vidéo n°2</li>
                            <li class="rank">Vidéo n°3</li>
                            <li class="rank">Vidéo n°4</li>
                            <li class="rank">Vidéo n°5</li>
                        </ul>


                    </div>
                </div>
    </div>

    {% include "core/layouts/_share.html" %}
    {% include "core/layouts/_comments.html" %}


{% endblock content %}