{% load static %}
<!-- comments -->
<div id="comments">
        <h3 class="subtitle">7 Commentaires</h3>
        <ul class="comments">
            <li class="comment-item">
                <ul class="comment">
                    <li class="avatar"><img style="background-color: #c382b1;" src="{% static 'img/avatar.png' %}" alt="Avatar"></li>
                    <li class="comment-infos">Pseudo<br/> 21/12/21 15h15 | <b>Reply</b></li>
                    <li class="message">
                        Le message bla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                    </li>
                    <li class="view-hide-answer">▴ Masquer les 2 réponses</li>
                </ul>
                        <ul class="answer">
                            <li class="avatar"><img style="background-color: #a65dd4;" src="{% static 'img/avatar.png' %}" alt="Avatar"></li>
                            <li class="comment-infos">Pseudo<br/> 21/12/21 15h15 | <b>Reply</b></li>
                            <li class="message">
                                Reponse bla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                            </li>
                        </ul>
                        <ul class="answer">
                            <li class="avatar"><img style="background-color: #0a37cd;" src="{% static 'img/avatar.png' %}" alt="Avatar"></li>
                            <li class="comment-infos">Pseudo<br/> 21/12/21 15h15 | <b>Reply</b></li>
                            <li class="message">
                                Reponse bla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                            </li>

                        </ul>
            </li>
            <li class="comment-item">
                <ul class="comment">
                    <li class="avatar"><img style="background-color: #356185;" src="{% static 'img/avatar.png' %}" alt="Avatar"></li>
                    <li class="comment-infos">Pseudo<br/> 21/12/21 15h15 | <b>Reply</b></li>
                    <li class="message">
                        Le message bla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                    </li>
                </ul>
            </li>

            <li class="comment-item">
                <ul class="comment">
                    <li class="avatar"><img style="background-color: #b1d6f4;" src="{% static 'img/avatar.png' %}" alt="Avatar"></li>
                    <li class="comment-infos">Pseudo<br/> 21/12/21 15h15 | <b>Reply</b></li>
                    <li class="message">
                        Le message bla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                    </li>
                    <li class="view-hide-answer">▴ Masquer la réponse</li>
                </ul>
                        <ul class="answer">
                            <li class="avatar"><img style="background-color: #023146;" src="{% static 'img/avatar.png' %}" alt="Avatar"></li>
                            <li class="comment-infos">Pseudo<br/> 21/12/21 15h15 | <b>Reply</b></li>
                            <li class="message">
                                Reponse bla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                                bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                            </li>
                        </ul>
            </li>

            <li class="comment-item">
                <ul class="comment">
                    <li class="avatar"><img style="background-color: #e49f5a;" src="{% static 'img/avatar.png' %}" alt="Avatar"></li>
                    <li class="comment-infos">Pseudo<br/> 21/12/21 15h15 | <b>Reply</b></li>
                    <li class="message">
                        Le message bla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                        bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla bla bla bla
                    </li>
                </ul>
            </li>
        </ul>
</div>

<div id="post-comment">
    <h3 class="subtitle">Commenter</h3>
    <form id="comment-form">
            <input type="text" id="pseudo-input" name="pseudo-input" placeholder="Pseudo">
            <input type="text" id="email-input" name="email-input" placeholder="Email">
            <textarea id="message-input" name="message-input" placeholder="Commentaire"></textarea>
            <img class="captcha" src="{% static 'img/captcha.jpg' %}" alt="Avatar">
            <input type="text" id="captcha-input" name="captcha-input" placeholder="Captcha">
        <button type="submit">Commenter</button>
        </form>
</div>



