{% load static %}
<header>
    <!-- Navigation -->
    <nav>
        <ul class="navbar">
            <li class="navbar-item">
                <a href="{% url 'core:home' %}">Accueil</a>
            </li>
          <li class="navbar-item">
              {% if request.session.has_submit_unique_video == True or request.session.has_shared_link == True or user.is_authenticated %}
              <a href="{% url 'videos:random_video' %}">Vidéo aléatoire</a>
              {% else %}
              Vidéo aléatoire
              {% endif %}
          </li>
          <li class="navbar-item">
              {% if request.session.has_submit_unique_video == True or request.session.has_submit_vote == True or user.is_authenticated %}
              <a href="{% url 'videos:top_videos' %}">Top vidéos</a>
              {% else %}
              Top vidéos
              {% endif %}
          </li>
          <li class="navbar-item">
              <a href="{% url 'core:legal_notice' %}">Mention légales</a>
          </li>
        </ul>
    </nav>
</header>



