{% load static %}
<header>
    <!-- Navigation -->
    <nav>
        <ul class="navbar">
            <li class="navbar-item">
                <a href="{% url 'core:home' %}">Accueil</a>
            </li>
          <li class="navbar-item">
              <a href="{% url 'core:random_video' %}">Vidéo aléatoire</a>
          </li>
          <li class="navbar-item">Top vidéo</li>
          <li class="navbar-item">
              <a href="{% url 'core:legal_notice' %}">Mention légales</a>
          </li>
        </ul>
    </nav>
</header>



