{% load static %}
<!-- share -->
<div id="share">
    <h3 class="subtitle">Partager</h3>
<!--    <p class="share">-->
<!--    <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>-->
<!--    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>-->
<!--    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>-->
<!--    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>-->
<!--    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>-->

<!--    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>-->
<!--    -->
    <!--    </p>-->
    <ul class="share">
        <li class="share-item">
            <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
        </li>
        <li class="share-item">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        </li>
        <li class="share-item">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </li>
        <li class="share-item">
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </li>
        <li class="share-item">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </li>
        <li class="share-item">
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        </li>
        <li class="share-item">
            <button type="submit">
                <i class="fa fa-flag" style="color:Red" aria-hidden="true"></i> Report
            </button>
        </li>
    </ul>

</div>




