{% extends "core/base.html" %}
{% load static %}
{% block content %}

    {% include "core/layouts/_submit.html" %}

    {% if request.session.has_submit_unique_video == True or user.is_authenticated %}
    <div id="main-video">
                <div class="wrapper">
                    <div class="wrapper-left">
                        <h3 class="subtitle">{{ title }}</h3>

                            <iframe src="https://www.youtube.com/embed/{{ request.session.video_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                    <div class="wrapper-right">
                        <h3 class="subtitle">ID: {{ request.session.video_link }}</h3>
                            <form id="rating-form">
                                <label for="interest">Intérêt /10</label><br>
                                <input type="number" id="interest" name="interest" max="10" min="0">
                                <label for="quality">Qualité /10</label><br>
                                <input type="number" id="quality" name="quality" max="10" min="0">
                                <button type="submit">Noter</button>
                            </form>
                    </div>
                </div>
    </div>

    {% include "core/layouts/_share.html" %}
    {% include "comments/_comments.html" %}

    {% else %}
    <p style="text-align:center;">Pour acceder à cette page vous devez soumettre une vidéo valide et pas encore proposé.</p>
    <p style="text-align:center;">Voici les formes acceptées : bla bla bla</p>
    {% endif %}


{% endblock content %}