{% extends "core/base.html" %}
{% load static %}
{% block content %}

    {% include "core/layouts/_submit.html" %}
    <div id="main-video">
                <div class="wrapper">
                    <div class="wrapper-left">
                        <h3 class="subtitle">{{ title }}</h3>

                            <iframe src="https://www.youtube.com/embed/{{ request.session.top_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                    <div class="wrapper-right">
                        <h3 class="subtitle">ID</h3>
                        <!--
                        <div class="sort-rank">
                        Trier par : Intérêt ▴
                        </div>
                        -->




                        <ul class="ranks">
                            {% for element in top_5_videos %}
                            <a class="rank" href="{{ element.full_link }}" style="{% if element.video_link == request.session.top_video %}{{ active_style }}{% endif %}">
                                <li>
                                        Vidéo n°{{ element.video_rank }}<br>
                                        <span style="font-size:small;">
                                            Interet: {{ element.average_interest }}
                                            <br>
                                            Qualité: {{ element.average_quality }}
                                        </span>
                                </li>
                            </a>
                            {% endfor %}
                        </ul>


                    </div>
                </div>
    </div>

    {% include "core/layouts/_share.html" %}
    {% include "comments/_comments.html" %}


{% endblock content %}