html {
    font-size: 100%;
    background-image: url(img/overlay.png), url(img/bg.jpg);
    background-repeat: repeat, no-repeat;
    background-size: auto, 100% 100%;
    background-attachment: fixed;
    height: 100%;
    display:block;
    margin : auto;
    /*overflow-y: scroll;*/
}

body {
    height: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: auto;

}

header {
    background-color: #ffffff9e;
}

/* ************************************************************************ */
/* -------------------NAVBAR-------------------- */
nav {
    margin : 0 2% 2% 2%;
    display:block;
    width: 96%;
    min-height: 30px;
    height: auto;
    overflow-y: auto;
    border: 1px solid #846c90;
    border-top: none;
}

.navbar {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  list-style: none;
  margin: 1%;
}

.navbar-item {
    border: 1px solid #846c90;
    width: 200px;
    text-align: center;
}

/* -------------------END NAVBAR-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------NAVBAR ADMIN-------------------- */

#nav-admin {
    margin : 0 2% 2% 2%;
    display:block;
    width: 96%;
    min-height: 30px;
    height: auto;
    overflow-y: auto;
    border: 1px solid #f00;
    background-color: #ff00000a;

}

.navbar-admin {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  list-style: none;
  margin: 1%;
}

.navbar-admin-item-main {
    border: 1px solid #f00;
    width: 400px;
    text-align: center;
    background-color: #ff000015;
}

.navbar-admin-item {
    border: 1px solid #f00;
    width: 200px;
    text-align: center;
    background-color: #ff000015;
}



/* -------------------END NAVBAR ADMIN-------------------- */
/* ************************************************************************ */




/* ************************************************************************ */
/* -------------------MESSAGES ALERTS-------------------- */

.success{
  padding: 20px;
  background-color: green;
  color: white;
  position:fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2000;
  cursor: pointer;
}

.error{
  padding: 20px;
  background-color: red;
  color: white;
  position:fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2000;
  cursor: pointer;
}

.info{
  padding: 20px;
  background-color: blue;
  color: white;
  position:fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2000;
  cursor: pointer;
}

.warning{
  padding: 20px;
  background-color: orange;
  color: white;
  position:fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2000;
  cursor: pointer;
}


.message_text{
  text-align: center;
}

.message_close_icon{
  position:absolute;
  right: 0;
  top: 0;
}

/* ------------------- END MESSAGES ALERTS-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------SUBMIT-------------------- */

#submit {
    margin : 2%;
    margin-top : 0;
    display:block;
    width: 96%;
    border: 1px solid #846c90;
}

#submit input {
    height: 25px;
    width: 73%;
    margin: 1%;
    text-align: center;
    border: 1px solid #846c90;
    background-color: #ffffff9e;
}

#submit button {
    width: 22%;
    margin: 0 1% 0 1%;
    text-align: center;
    padding: 0px;
    height: 25px;

}

/* -------------------END SUBMIT-------------------- */
/* ************************************************************************ */


/* ************************************************************************ */
/* -------------------MAIN-------------------- */
main {
    background-color: #ffffff9e;
}

#main {
    margin : 0 2% 2% 2%;
    display:block;
    width: 96%;
    min-height: 450px;
    /*
    max-height:450px;
    */
    height: auto;
    overflow-y: auto;
    border: 1px solid #846c90;
    background-color: #ffffff70;
}

/* -------------------END MAIN-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------SHARE-------------------- */

#share {
    margin : 0 2% 2% 2%;
    display:block;
    width: 96%;
    min-height: 50px;
    height: auto;
    overflow-y: auto;
    border: 1px solid #846c90;
    background-color: #ffffff70;
}

.share {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  list-style: none;
}

.share-item {
    text-align: center;
    margin: auto;
}

/* -------------------END SHARE-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------COMMENTS-------------------- */
#comments {
    margin : 2%;
    margin-top : 0;
    display:block;
    width: 96%;
    border: 1px solid #846c90;
}

.comments {
    padding: 0;
}

.comment-item {
    margin : 1%;
    display:block;
    width: 98%;
    border: 1px solid #846c90;
}

.comment {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
     and if we allow the items to wrap
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: left;

    padding: 0;
    list-style: none;
}

.avatar {
    margin : 1%;
    display:block;
    width: 48px;
    height: 48px;
    border: 1px solid #846c90;
}

.comment-infos {
    margin : 1%;
}

.message {
    margin : 1%;
    display:block;
    width: 98%;
    border: 1px solid #846c90;
}

.view-hide-answer {
    margin : 1%;
    display:block;
    font-weight: bold;
}



.answer {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
     and if we allow the items to wrap
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: left;

    padding: 0;
    padding-left: 15%;
    list-style: none;
}


/* -------------------END COMMENTS-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------POSTING COMMENTS-------------------- */


#post-comment {
    margin : 2%;
    margin-top : 0;
    width: 96%;
    border: 1px solid #846c90;
    display: block;

}

#comment-form {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
     and if we allow the items to wrap
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
}

#pseudo-input, #email-input{
    height: 25px;
    width: 450PX;
    margin: 1%;
    text-align: center;
    border: 1px solid #846c90;
    background-color: #ffffff9e;
}

#message-input {
    height: 100px;
    min-width: 98%;
    margin: 1%;
    border: 1px solid #846c90;
    background-color: #ffffff9e;
}

.captcha {
    height: 50px;
    width: 300px;
    margin: 1%;
    text-align: center;
    border: 1px solid #846c90;
}
#captcha-input {
    height: 25px;
    width: 300px;
    margin: auto;
    text-align: center;
    border: 1px solid #846c90;
    background-color: #ffffff9e;
}

#post-comment button{
    width: 300px;
    margin: auto 1%;
    text-align: center;
    padding: 0px;
    height: 25px;
}

/* -------------------END POSTING COMMENTS-------------------- */
/* *******************************-***************************************** */

/* ************************************************************************ */
/* --------------------------LOGIN---------------------------- */

#login {
    margin : 0 2% 2% 2%;
    display:block;
    width: 96%;
    min-height: 450px;
    /*
    max-height:450px;
    */
    height: auto;
    overflow-y: auto;
    border: 1px solid #846c90;
    background-color: #ffffff70;
}

.login {
    padding: 0;
    margin-top: 2%;
    margin : 2% auto ;
    display:block;
    width: 98%;
    border: 1px solid #846c90;
}

#login input {
    height: 28px;
    width: 97%;
    margin: 1%;
    text-align: center;
    border: 1px solid #846c90;
    background-color: #ffffff9e;
}
#login button {
    height: 28px;
    width: 70%;
    margin: 1% 15%;
    text-align: center;
}

/* --------------------------END LOGIN---------------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------FOOTER-------------------- */

footer {
    margin-bottom: 5px;
    text-align: center;
}


/* -------------------END FOOTER-------------------- */
/* ************************************************************************ */


/* ************************************************************************ */
/* -------------------RANDOM VIDEO-------------------- */

iframe {
    display: block;
    width: 100%;
    height: 100%;

}

#main-video {
    margin : 0 2% 2% 2%;
    padding: 0;
    padding-bottom: 21px;
    display:block;
    width: 96%;
    height: auto;
    overflow-y: auto;
    border: 1px solid #846c90;
    background-color: #ffffff70;
}

.wrapper {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: normal;

  padding: 0;
  margin: 0;
  list-style: none;
}

.wrapper-left {

    /*
    border: 1px solid #846c90;
    */
    width: 73%;
    text-align: center;
}



.wrapper-right {
    /*
    border: 1px solid #846c90;
    */
    width: 27%;
    text-align: center;
    margin: 0;
    min-height: 380px;
}

@media (max-width: 450px) {
    #main-video {
    margin : 0 2% 2% 2%;
    padding: 0;
    display:block;
    width: 96%;
    overflow-y: auto;
    border: 1px solid #846c90;
    background-color: #ffffff70;
    }
    .wrapper {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
    and if we allow the items to wrap
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: normal;

    padding: 0;
    margin: 0;
    list-style: none;
    }

    .wrapper-left {

    /*
    border: 1px solid #846c90;
    */
    height: 365px;
    width: 100%;
    text-align: center;
    margin-bottom: 21px;
    }



    .wrapper-right {
    /*
    border: 1px solid #846c90;
    */
    width: 100%;
    text-align: center;
    margin: 0;
    min-height: 0;
    }
}

/* -------------------END RANDOM VIDEO-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------RATING VIDEO-------------------- */
#interest, #quality {
    width:85%;
    margin: 1%;
}

#rating-form{
    padding: 30% 0%;
    margin: 5%;
}

#rating-form button{
    margin: 5%;
}

@media (max-width: 450px) {
    #rating-form {
        padding: 0;
    }
}
/* -------------------END RATING VIDEO-------------------- */
/* ************************************************************************ */


/* ************************************************************************ */
/* -------------------TOP VIDEO-------------------- */

.ranks {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
     and if we allow the items to wrap
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: left;

    padding: 0;
    list-style: none;
    margin: 0;
    height: 100%;
}


.rank {
    margin : 1%;
    display:block;
    width: 98%;
    border: 1px solid #846c90;
    padding: 6%;
}

.sort-rank {
    margin: 0% 1%;
    display:block;
    width: 98%;
    border: 1px solid #846c90;
    border-top: 0;
}

@media (max-width: 450px) {
    .ranks {
        /* We first create a flex layout context */
        display: flex;

        /* Then we define the flow direction
         and if we allow the items to wrap
        * Remember this is the same as:
        * flex-direction: row;
        * flex-wrap: wrap;
        */
        flex-flow: row wrap;

        /* Then we define how is distributed the remaining space */
        justify-content: left;

        padding: 0;
        list-style: none;
    }


    .rank {
        margin : 1%;
        display:block;
        width: 98%;
        border: 1px solid #846c90;
    }
}
/* -------------------END TOP VIDEO-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------DASHBOARD-------------------- */

#dashboard {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  list-style: none;
}

.dashboard-item {
    text-align: center;
    width: 200px;
    border : 1px solid black;
}

/* -------------------END DASHBOARD-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------MODERATION VIDEO-------------------- */

#status_form {
text-align: center;
}

.status {
    display:inline-block;
    border-radius: .25rem;
    width: 70%;
    margin: 1%;
    padding: 3%;
}

/* -------------------END MODERATION VIDEO-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */
/* -------------------MODERATION COMMENTAIRE-------------------- */

.wrapper-left-comments {

    /*
    border: 1px solid #846c90;
    */
    width: 73%;
    text-align: center;
}

@media (max-width: 450px) {

    .wrapper-left-comments {

    /*
    border: 1px solid #846c90;
    */

    width: 100%;
    text-align: center;
    margin-bottom: 21px;
    }

}

/* -------------------END MODERATION COMMENTAIRE-------------------- */
/* ************************************************************************ */

/* ************************************************************************ */

.subtitle {
    border-bottom: 1px solid #846c90;
    margin: 0;
    text-align: center;
    font-size: smaller;
    background-color: #846c904f;
    height:20px;
}



.subtitle-left {
    display: inline-block;
    border-bottom: 1px solid #846c90;
    margin: 0;
    width: 75%;
    text-align: center;
    font-size: smaller;
}

.subtitle-right {
    display: inline-block;
    border-bottom: 1px solid #846c90;
    margin: 0;
    width: 25%;
    text-align: center;
    font-size: smaller;
    background-color: #846c904f;
}

a:-webkit-any-link{
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 1em;
}

/* ************************************************************************ */
/* ************************************************************************ */
/* ************************************************************************ */

/*

#question {
    margin : 2% 2% 0 2%;
    display:block;
    width: 96%;
    max-height:500px;
    border: 1px solid #846c90;
}

#askquestionhere {
    margin: 1% 0 0 2%;
}

.map {
    width: 96%;
    height: 200px;
    margin: 0 2% 0 2%;
    background: #846c90;
}

.anecdote {
    padding-bottom: 0;
    text-overflow: ellipsis;
    word-wrap: break-word;

}

.navbar {
    display: flex !important;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.navbar li {
    width: 25%;
    margin: 0 auto;
    list-style: none;
    border-right: 1px solid #846c90;
    text-align: center;
}

.navbar p  {
    font-size: smaller;
}

*/